 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
    min-height: 100vh;
    height: 100%;
}


footer {
    width: 100%;
    height: 12vh;
    bottom:0;
    background-color: white;
    text-align: center;
}

.divmarrom {
    background-color: #7F7045;
    color: white;
    height: 7vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
    padding-left: 13vw;
}

.divbranco {
    background-color: white;
    color: #858585;
    height: 7vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
    padding-left: 13vw;
}

.divanimais {
    background-image: url("./caogato2.jpg");
    height: 500px;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding-top: 15%;
    padding-left: 10%;
 }




 .divsobre {
    height: 100%;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    justify-content: space-between;
  
}

div.op1 {
    width: 25%;
    background-color: #CE7C2A;
    font-size: 3vw;
    text-align: center;
    min-width:30vw;
    margin-left: 9vw;
    height: 100%;
    border-radius: 2em 2em 0em 0em;
    padding-top: 4%;
}

div.op2 {
    width: 48%;
    margin-right: 0vw;
    font-size: 1.3vw;
    text-align: center;
    padding: 5vw 0vw 0vw 0vw;
    min-width:30vw;
    text-align: justify;
    padding-right: 8vw;
}
.clean{clear:both;}


.divservico{
    margin-top: 1%;
    background-color: #F5F5F5;
}

.divtitulo{
    color: #7F7045;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 3px;
}

.divtitulo1{
    color: black;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.divservicocentral{
    width: 60%;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    margin-left: 20%;

    
}

.divservicointerna{
    width: 200px;
    height: 250px;
    background-color: #CE7C2A;  
    margin: 5px;
    border-width: 2px 4px;
    border-radius: 40px;
    color: white;
    padding-top: 10px;   
    line-height: 40px;
}

.divservicointerna-titulo{
    font-weight: bold;
    text-align: center;
    font-size: 1.3vw;
    padding-top: 5px;
}

.divservicointerna-texto{
    text-align: center;
    font-size: 1vw;
    width: 95%;
}

.divescolhacentral{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 5px;
    text-align: center;
    align-items: center;

}

.divescolhaesquerda{
    width: 30%;
}

.divescolhadireita{
    width: 70%;
}

.divescolhadireitainterna{
    padding-bottom: 20px;
    padding-top: 20px;
}

.divescolhadireitainterna-item{
    width: 90%;
    display: inline-flex;
    justify-content: space-around;   
    margin-left: 40px; 
    padding-bottom: 10px;
    padding-top: 10px;    
}

.merged{
    width:30%;
    height:100%;
}

.divescolhadireitainterna-textos{
    width: 70%;
}
.textointernoescolha{
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 10px;
}


.divtitulo-escolha{
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo-sobre{
    color: #7F7045;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 10px;
    text-align: center;

}

.divlogin{

    background-color: silver;
}

@media screen and (max-width: 1040px){


    body{
        width: 100vw;
        border: solid 1px black;
    }

    footer {
        width: 100%;
        height: 10vh;
        bottom:0;
        background-color: white;
        text-align: center;
        vertical-align: top;

    }   

    .divanimais {
        /* Background pattern from Toptal Subtle Patterns */
        background-image: url("./caogato-resp.jpg" );
        width: 100vw;
        color: white;
        font-size: 1.5rem;
        padding-top: 5%;
        padding-left: 5%;
        background-size: cover;
     }

    .divtitulo{
        font-size: 1.5rem;
        width: 100%;
        margin-left: 0px;
    }

    .titulo-sobre{
        font-size: 1.5rem;
        width: 100%;
        margin-left: 0px;
    }

    .divtitulo1{
        font-size: 1.2rem;
        width: 80%;
    }

    .divservicocentral{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        text-align: center;
        align-items: center;
        margin-left: 0%;        
    }

    .divservicointerna{
        width: 70%;
        height: 250px;
        background-color: #CE7C2A;  
        margin: 5px;
        border-width: 2px 4px;
        border-radius: 40px;
        color: white;
        padding-top: 10px;   
        line-height: 40px;        
    }
    .divservicointerna-titulo{
        font-size: 1.5rem;
    }
    .divservicointerna-texto{
        font-size: 1.2rem;
    }

    .divmarrom {
        background-color: #7F7045;
        color: white;
        height: 7vh;
        vertical-align: middle;
        width: 100vw;
        padding-left: 20px

    }   

    .divbranco {
        background-color: white;
        color: #858585;
        height: 7vh;
        vertical-align: middle;
        width: 100vw;
        padding-left: 0px;
    }

    .divsobre {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;      
        margin-left: -4%;  
    }

    .imagemcachorronocolo{
        max-width: 100%;
        width: 100%;
    }

    div.op1 {
        width: 100vw;
        background-color: #CE7C2A;
        text-align: center;
        border-radius: 2em 2em 0em 0em;
        padding-top: 0%;
        
    }    

    div.op2 {
        width: 100%;
        margin-right: 0vw;
        font-size: 6vw;
        text-align: center;
        padding-left: 15%;
    }

    .divescolhacentral{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        text-align: center;
        align-items: center;
        margin-left: 0%;              
    }

    .imagemgato{
        width: 90vw;
        margin-left: -127px;
    }

    .divescolhadireita{
        width: 100%;

    }
    .imagem-escolha{
        width: 40%;
        height: 40%;
    }

    .divtitulo-escolha{
        font-size: 1.2rem;
    }

    .textointernoescolha{
        font-size: 1rem;
    }

    .merged{
        width: 80vw;
        align-items: center;

    }

    .divescolhadireitainterna-item{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin-left: 20px;
    }

    .divtitulo-escolha{
        width: 90vw;
        text-align: center;
    
    }

    .textointernoescolha{
        width: 90vw;
    }

    .imagem-escolha{
        width: 50%;
        height: 50%;
    }




  }

