{% extends 'template-pesquisa.html' %}
{% block conteudo %}
  <form method="post" action="{{ url_for('responderPergunta',id=id,numeropergunta=0) }}" enctype="multipart/form-data" id="formulario">
    <div class="box_cabecalho">
      <div class="box_titulo_interno">
        <i class="bi bi-card-checklist" style="font-size:2rem; color:black;" data-toggle="tooltip" data-placement="right" title="Pesquisa"></i> {{ titulo }}
      </div>
      <div class="box_botoes">
        
      </div>
    </div>
    <div class="boxcentral">
      <table class="table table-bordered table-responsiv table-hover">
          <thead>
            <tr>
              <th width="40%">Pergunta</th>
              <th width="40%">Resposta</th>
              <th width="20%">Situação</th>
            </tr>
          </thead>
          <tbody>
              {% for dado in dados%}
              <tr>
                  <td>
                    {{ dado.desc_pergunta}}
                  </td>
                  <td>
                    {{ dado.desc_resposta}}
                  </td>
                  <td valing="midle" align="center">
                    {% if(dado.certa_resposta == 0): %}
                    <i class="bi bi-emoji-frown" style="font-size:2rem; color:red;">
                  {% else %}
                    <i class="bi bi-emoji-smile" style="font-size:2rem; color:green;">
                  {% endif %}   
                </td>              
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </form>
  
{% endblock %}
