{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('pesquisaRespondida',idpesquisa=idpesquisa) }}" enctype="multipart/form-data" id="formulario">
  <!-- barra de navegação para desktop/notebook -->
    <div class="boxtitulocombusca">
      <div class="box_titulo"><i class="bi bi-card-checklist" style="font-size:2rem; color:black;" data-toggle="tooltip" data-placement="right" title="Usuários"></i> {{ titulo }}</div>
      <div class="box_busca">{{form.pesquisa(class="busca__input")}}</div>    
      <div class="box_botoes"><a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-search" style="font-size:1.5rem; color:white;"></i></a></div>
      <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('pesquisaRespondida',idpesquisa=idpesquisa)}}"><i class="bi bi-eraser" style="font-size:1.5rem; color:white;"></i></a></div>
      <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('pesquisa')}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a></div>
    </div>
  <!-- final -->
  <!-- barra de navegação para mobile -->
    <div class="boxtitulocombusca_responsivo">
      <div class="box_organizadora">
        <div class="box_titulo"><i class="bi bi-card-checklist" style="font-size:1.7rem; color:black;" data-toggle="tooltip" data-placement="right" title="Usuários"></i> {{ titulo }}</div>
        <div class="box_botoes"><a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-search" style="font-size:1rem; color:white;"></i></a></div>
        <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('pesquisaRespondida',idpesquisa=idpesquisa)}}"><i class="bi bi-eraser" style="font-size:1rem; color:white;"></i></a></div>
        <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('pesquisa')}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a></div>
      </div>
      <div class="container input-group">{{form.pesquisa_responsiva(class="busca__input")}}</div>
    </div>  
  <!-- final -->  
  </form>
  <!-- mostrar dados -->
<div class="boxcentral">
  <table class="table table-bordered table-responsiv table-hover">
      <thead>
        <tr>
          <th width="50%">Nome</th>
          <th width="40%">Código</th>
          <th width="10%">Ações</th>
        </tr>
      </thead>
        <tbody>
          {% for pesquisaRespondida in pesquisasRespondidas.items %}
          <tr>
              <td>
                {{ pesquisaRespondida.nome_pesquisa }}
              </td>
              <td>
                {{ pesquisaRespondida.name_user }}
              </td>              
              <td valing="midle">
                <a class="btn" target="_blank" href="{{url_for('mostrarResultadoPesquisa',idpesquisa=pesquisaRespondida.cod_pesquisa,user=pesquisaRespondida.cod_user)}}"><i class="bi bi-eye" style="font-size:1.5rem; color:black;"></i></a>
              </td>            
            </tr>
            {% endfor %}
      </tbody>
  </table>
</div>
<div class="boxcentral">
<!-- Pagination Links-->
<div class="text-right">
  <a href="{{ url_for('pesquisaRespondida',idpesquisa=idpesquisa,page=pesquisasRespondidas.prev_num) }}"
     class="btn btn-outline-dark 
     {% if pesquisasRespondidas.page == 1 %}disabled{% endif %}">
      &laquo;
  </a>
<!-- Loop through the number of pages to display a link for each-->
  {% for page_num in pesquisasRespondidas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
          {% if pesquisasRespondidas.page == page_num %}
          <a href="{{ url_for('pesquisaRespondida',idpesquisa=idpesquisa,page=page_num) }}"
             class="btn btn-dark">
              {{ page_num }}
          </a>
          {% else %}
          <a href="{{ url_for('pesquisaRespondida',idpesquisa=idpesquisa,page=page_num) }}"
             class="btn btn-outline-dark">
              {{ page_num }}
          </a>
          {% endif %}
      {% else %}
          ...
      {% endif %}
  {% endfor %}
  <a href="{{ url_for('pesquisaRespondida',idpesquisa=idpesquisa,page=pesquisasRespondidas.next_num) }}"
     class="btn btn-outline-dark 
     {% if pesquisasRespondidas.page == pesquisasRespondidas.pages %}disabled{% endif %}">
      &raquo;
  </a>
</div>
<p class="text-right mt-3">
 Mostrando página {{ pesquisasRespondidas.page }} de {{ pesquisasRespondidas.pages }}
</p>
</div>
{% endblock%}