{% extends "template.html"%}
{% block conteudo %}
<div class="box_cabecalho">
  <div class="box_titulo_interno">
    <i class="bi bi-person" data-toggle="tooltip" data-placement="right" title="Pet"></i> {{ titulo }}
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('editarPet',id=id)}}"><i class="bi bi-pencil" style="font-size:1.5rem; color:white;"></i></a>
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('pet')}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a>
  </div>
</div>
<div class="boxformulario">
  <fieldset>
    {{form.csrf_token()}}
    <div class="form-group">{{ form.nome.label(class = 'form-label') }}
      {{ form.nome(class = 'form-control') }}</div>
    <div class="form-group">{{ form.datanascimento.label(class = 'form-label') }}
      {{ form.datanascimento(class = 'form-control') }}</div>
      <div class="form-group">{{ form.tipopet.label(class = 'form-label') }}
        {{ form.tipopet(class = 'form-control') }}</div>    
    <div class="form-group">{{ form.raca.label(class = 'form-label') }}
      {{ form.raca(class = 'form-control') }}</div>
      <div class="form-group">{{ form.tutor.label(class = 'form-label') }}
        {{ form.tutor(class = 'form-control') }}</div>              
    <div class="form-group">{{ form.status.label(class = 'form-label') }}
      {{ form.status(class = 'form-control') }}</div>
      <div class="form-group">{{ form.observacoes.label(class = 'form-label') }}
        {{ form.observacoes(class = 'form-control') }}</div>   
  </fieldset>  
</div>
<div class="boxcentral">
  <table class="table table-bordered table-responsiv table-hover">
      <thead>
          <tr>
            <th width="20%">Horário</th>
            <th width="10%">Pet</th>
            <th width="10%">Tipo</th>
            <th width="10%">Status</th>
            <th width="10%">Ações</th>
          </tr>
      </thead>
      <tbody>
          {% for consulta in consultas.items %}
          <tr>
              <td class="text-left">{{ consulta.data_consulta.strftime('%d/%m/%Y %H:%M') }}</td>
              <td class="text-left">{{ consulta.nome_pet }}</td>
              <td class="text-left">{{ consulta.desc_tipopet }}</td>
              <td class="text-center">
                {% if consulta.status_consulta == 0: %}
                <i class="bi bi-calendar-week" style="font-size:2rem; color:orange;">
                {% endif %}
                {% if consulta.status_consulta == 1: %}
                <i class="bi bi-calendar2-check" style="font-size:2rem; color:green;">
                {% endif %}  
                {% if consulta.status_consulta == 2: %}
                <i class="bi bi-calendar2-x" style="font-size:2rem; color:red;">
                {% endif %}         
                </td>             
              <td class="text-center">
                <a class="btn" href="{{url_for('visualizarConsulta',id=consulta.cod_consulta)}}"><i class="bi bi-eye" style="font-size:1.5rem; color:black;"></i></a>
            </td>              
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock%}