{% extends "template.html"%}
{% block conteudo %}
<div class="box_cabecalho">
  <div class="box_titulo_interno">
    <i class="bi bi-question-circle" style="font-size:2rem; color:black;" data-toggle="tooltip" data-placement="right" title="Tipo Status"></i> {{ titulo }}
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('editarPergunta',idpesquisa=idpesquisa,idpergunta=idpergunta)}}"><i class="bi bi-pencil" style="font-size:1.5rem; color:white;"></i></a>
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('visualizarPesquisa',idpesquisa=idpesquisa)}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a>
  </div>
</div>
<div class="boxformulario">
  <fieldset>
    {{form.csrf_token()}}
    <div class="form-group">
      {{form.desc.label(class="rotulo")}}
      {{form.desc(class="busca__input")}}
    </div>
    <div class="form-group">
      {{form.status.label(class="rotulo")}}
      {{form.status(class="busca__input")}}
    </div>
    <div class="form-group">
      {{form.ordem.label(class="rotulo")}}
      {{form.ordem(class="busca__input")}}
    </div>    
  </fieldset>  
</div>
<div class="box_cabecalho">
  <div class="box_titulo_interno">
    <i class="bi bi-check-circle" style="font-size:2rem; color:black;" data-toggle="tooltip" data-placement="right" title="Perguntas"></i> Respostas
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('novoResposta',idpesquisa=idpesquisa,idpergunta=idpergunta)}}"><i class="bi bi-file-earmark-plus" style="font-size:1.5rem; color:white;"></i></a>
  </div>
</div>
<div class="boxcentral">
  <table class="table table-bordered table-responsiv table-hover">
      <thead>
        <tr>
          <th width="70%">Resposta</th>
          <th width="10%">Certa</th>
          <th width="10%">Status</th>
          <th width="10%">Ações</th>
        </tr>
      </thead>
      <tbody>
          {% for resposta in respostas.items %}
          <tr>
            <td>
              {{ resposta.desc_resposta }}
            </td>
            <td align="center">
              {% if(resposta.certa_resposta == 0): %}
                <i class="bi bi-exclamation-lg" style="font-size:2rem; color:red;">
              {% else %}
                <i class="bi bi-check" style="font-size:2rem; color:green;">
              {% endif %}                
            </td>              
            <td>
              {% if(resposta.status_resposta == 0): %}
                <i class="btn bi bi-toggle-on text-success" style="font-size:2rem; color:white;">
              {% else %}
                <i class="btn bi bi-toggle-off text-danger" style="font-size:2rem; color:white;">
              {% endif %}                       
            </td>
            <td valing="midle">
              <a class="btn" href="{{url_for('visualizarResposta',idpesquisa=idpesquisa,idpergunta=idpergunta,idresposta=resposta.cod_resposta)}}"><i class="bi bi-eye" style="font-size:1.5rem; color:black;"></i></a>
            </td>              
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock%}